@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Funnel Sans Font */
@font-face {
  font-family: 'Funnel Sans';
  src: url('/fonts/FunnelSans-Regular.woff2') format('woff2'),
       url('/fonts/FunnelSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Modern Cafe Custom Styles */
body {
  background-color: #fcfcfc;
  color: #092950;
  font-family: 'Inter', sans-serif;
}

/* Headings use Playfair Display */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

/* Hide scrollbar for mobile nav */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Image loading optimization */
img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

/* Preload critical images */
.preload-image {
  content: '';
  position: absolute;
  left: -9999px;
  top: -9999px;
  width: 1px;
  height: 1px;
}
